<div class="main" id="homePage">

  <h3 id="classIdTitle"></h3>

<div id="editorwindow">
  <textarea rows="30" cols="2">  Welcome to the class!!! </textarea>
  <video id="qnaScreenVideo" style="display:none"></video>

</div>

</div>


<!-- Modal for New Student -->

	<div class="modal fade" id="newStudentRequestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Class created status</h4>
        </div>
        <div class="modal-body">
          
        </div>
        <input type="hidden" id="classid" />
        <input type="hidden" id="studentname" />
        <div class="modal-footer">
        	<button type="button" id="acceptStudentBtn" class="btn btn-primary">Accept</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Reject</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

