<div class="well">
	<div class="actionsection">
		<div id="tutorActions" style="display:none">
			<button id="startClassBtn" class="btn btn-primary">Start Class</button>
			<button id="endClassBtn" disabled class="btn btn-primary">End Class</button>
			<button id="endQnABtn" class="btn btn-primary" style="display:none">End QnA Session</button>
		</div>
		<div id="studentActions" style="display:none">
			<button id="askQuestionBtn" class="btn btn-primary">Ask</button>
		</div>
	</div>
<!--   <div class="info">
  	<ul style="list-style: none;">
  		<li><p><%= owner.name %></p></li>
  		<li><p><%= owner.email %></p></li>
  	</ul>
  </div> -->
</div>